* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
<hidden></hidden>
hidden

<div class="hidden"></div>
.hidden

<div id="hidden"></div>
#hidden */

.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;   
}

/* main header rules */
header {
    background-color: red;
    text-align: center;
    position: sticky;
    top: 0;
}

#marvel-logo {
    width: 300px;
    padding: 10px 0;
}

#character_nav {
    text-align: center;
    background-color: #675050;

    background-image: url('../images/characters_art_mas_mob_01.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.characters {
    list-style-type: none;
}

.characters li {
    position: relative;
    display: inline-block;
    height: 220px;
    margin: 10px 8px;

    background-color: black;
    text-align: left;
    cursor: pointer;
}

article {
    padding: 20px;
}

article h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 14px;
}

article p {
    width: 80%;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
}

/* footer rules */
footer {
    color: white;
    padding: 20px 0 20px 0;
    text-align: center;    
}

.sticky_footer {
    background-color: rgb(40,37,37);
    height: 80px;
}

